/* body.modal-open > :not(#updateModal) {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
} */

/* body.modal-open > :not(#signin-modal) {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
} */

td.details-control {
  background: url('../img/details_open.png') no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url('../img/details_close.png') no-repeat center center;
}

img.card-img-top {
  width: 50%;
}

p.card-title,
img.card-img-top,
.pointer-here {
  cursor: pointer;
}

.default-pointer-here {
  cursor: default;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* padding: 50px 30px 0px 30px; */
}

.sensored>*:not(.modal) {
  -webkit-filter: blur(8px);
}

.bg-gradient-success {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important
}

.bg-gradient-primary {
  background: linear-gradient(87deg, #2dcecc 0, #6cd4ed 100%) !important
}

.bg-gradient-danger {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important
}

.bg--warning {
  color: #f56036;
}

.bg--danger {
  color: #f5365c;
}

.bg--success {
  color: #2dce89;
}

.bg--info {
  color: #2dcecc;
}

.list-area {
  padding: 40px 30px;
  /* background-color: #e8f1f8; */
  border-radius: 4px;
}

.list-area li {
  font-size: 13pt;
  margin-bottom: 1%
}

.list-area h5 {
  font-size: 22px;
}

.list-area input {
  height: 46px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  color: #636a76;
  font-size: 13px;
  margin-bottom: 20px;
}

.list-area input:focus {
  box-shadow: none;
  border-color: #1cc3b2;
}

.btn {
  border-radius: 2px;
}

.overlap-text  p {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#rightbar_event  img {
  height: 70px;
	width: 100%;
	max-width: 300px;
}